version: 2.1

orbs:
  node: circleci/node@5.1.0

defaults: &defaults
  docker:
    - image: cimg/python:3.10
  working_directory: ~/project

jobs:
  deploy_app_to_railway:
    <<: *defaults
    steps:
      - checkout
      - node/install:
          node-version: '20.9'
      - run: node --version
      - run: npm i -g @railway/cli
      - run:
          name: Deploy to Railway App
          command: |
            cd bankchurn-api
            railway up --service=incredible-vibrancy --detach

workflows:
  version: 2
  deploy_pipeline:
    jobs:
      - deploy_app_to_railway:
          filters:
            branches:
              only: main
